__pycache__
*.exe
*.o
*.mod
*.gp
*.gch
*.dll
*.so
*.pyd

*.avi
*.mp4
*.png
*.jpg
*.svg

*.fdb_latexmk
*.fls
*.pygtex
*.pygstyle
visualise.c
search.c

build
lib
ns
obj
bin
cython_debug
key.file

.ycm_extra_conf.py
*.taghl
